
#tabs-menu .menuitem-iconic .menu-iconic-icon 
{
  width: 16px;
  height: 16px;
  list-style-image: url(chrome://global/skin/icons/folder-item.png);
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#tabs-menu .menuitem-iconic[busy] .menu-iconic-icon
{
  list-style-image: url("chrome://global/skin/throbber/Throbber-small.gif") !important;
}

#tabs-menu .menuitem-iconic 
{
  font-weight: normal;
}

#tabs-menu .menuitem-iconic[current="true"] 
{
  font-weight: bold;
}

/* vi: set sw=2 ts=33: */
